@import 'animation';

@media(min-device-width: 1200px) {
    
    .container{
        max-width: 95%;
        margin: 2rem auto;
    }

    // Navbar-Section

    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav-list{
            display: flex;
            align-items: center;
            position: relative;
         }
         .toggle-wrapper{
             display: none;
         }
    }
   
    // End of Navbar
    
    // Banner-Section
    .banner-container{
        width:80%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 70vh;

        h1{
            font-size: 75px;}
        .second-heading{
            color: $dark-white-color;
        }
        .sub-headings{
            max-width: 600px;
            font-size: 19px;
            margin-top: 2rem;
            margin-bottom: 3rem;
            color: $dark-white-color;
            line-height: 1.5;
        }
        .intro-header{
            font-family: monospace;
            font-size: 18px;
            color: $green-text-color;
            margin: 15px 0 15px 0;
        }
    }
    // End of Banner

    //About -Me

    .about-container{
        height: 70vh;
        width: 65%;
        margin: 2rem auto;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
      

        .about-header{
            font-size: 2rem;
        }
        .about-details-wrapper{
            display: flex;
          
            justify-content: space-between;
            .about-text{
                width: 100%;
               
                .text-1{
                   
                   
                }
            }
            .about-img{
                width: 50%;
                margin: 0 auto;
                img{
                   max-width: 300px;
                }
            }
        }
    }
    
    // footer-section
    .main-footer{
        display: none;
       
    }
}
