@media(max-width:668px){
    .main-nav{
        width: 95%;
        margin: 2rem auto;
        .nav-list{
            list-style: none;
            font-size: 13px;
            font-family: monospace;
                a{
                    text-decoration: none;
                    color:$green-text-color;
                    border: 1px solid $green-text-color;
                    border-radius: 5px;
                    padding: 10px 20px 10px 20px;
                    transition: .5s ease-in-out;
                }
                a:hover{
                    background-color: #67e4a849;
                }
        }
    }
    .banner{
        width: 90vw;
        height: 80vh;
        margin: 3rem auto;
        .intro-header{
            font-size: 14px;
        }
        .name-header{
            font-size:18px;

            .second-name-header{
                margin-top: .5rem;
            }
        }
        .brief-about{
            max-width: 600px;
            font-size: 13px;
            margin: 2rem 0 2rem 0;
            line-height: 1.5;
            color: $dark-white-color;
        }
        .dm{
            padding: 2rem 0 2rem 0;
            font-size: 12px;
             a{
                 text-decoration: none;
                 font-family: monospace;
                 color:$green-text-color;
                 border: 1px solid $green-text-color;
                 border-radius: 5px;
                 padding: 20px 15px 20px 15px;
                 transition: .5s ease-in-out;
             }
             a:hover{
                 background-color: #67e4a849;
             }
         }
    }
   //About Me

.about-container{
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    color: $light-white-color;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    a{
        text-decoration: none;
        color: $green-text-color;
    }
    .about-details-wrapper{
        display: flex;
        flex-direction: column;
        width:100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        .about-text{
            width: 100%;
            .text-1{
                font-size: 14px;
                line-height: 1.5;
                padding-top: 1rem;
                color: $dark-white-color;
                .stack-icons-wrapper{
                    padding-top: 1rem;
                    display: flex;

                    .stack-icons{
                        padding: 10px;
                    }
                }
           }
        }
        .about-img{
            width: 200px;
            height: auto;
            display: flex;
            margin: 0 auto;
            padding-top: 2rem;
            .img-wrapper{
                width: 100%;
                margin: 0 auto;
                height: auto;
                position: relative;   
                transition: .5s ease-in-out;
               
                img{
                    max-width: 100%;
                    filter: grayscale(100%) contrast(1);
                    border-radius: 10px;
                  
                }
            }
            .img-wrapper::before{
                content: "";
                background:#67e4a8;
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0;
                z-index: 3;
                mix-blend-mode: multiply;
            }
            .img-wrapper::after{
                content: "";
                border:2px solid #67e4a8;
                border-radius: 10px;
                width: 200px;
                height: 200px;
                position: absolute;
                top: 10px;
                z-index: -1;
                left:10px;
            }
            .img-wrapper:hover::before, .img-wrapper:hover img{
                filter: none;
                background: transparent;
                transition: .5s ease-in-out;
            }
        }
        
        
    }
   
}
//End of About me
     //projects
.project-wrapper{
    width: 90vw;
    height:50%;
    margin: 3rem auto;
    .project-header{
        color: $green-text-color;
        font-size: 14px;
    }
    .main-project{
        
        .main-project-wrapper{
            color: $light-white-color;
            position: relative;
            overflow: hidden;
            .project-details{
                width: 100%;
                height: auto;
                  display: flex;
                 
                .video-wrapper{
                    width: 100%;
                margin: 0 auto;
                height: 100%;
                position: relative;   
                right: 0;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                overflow: hidden;
                    img{
                        width: auto;
                        margin: 0 auto;
                        height:60vh;
                        object-fit:contain;
                        object-position: center;
                        position: relative;   
                        
                    }
                }
            .video-wrapper::before{
                content: "";
                background: #112240;
                mix-blend-mode: multiply;
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                transition: .3s ease-in-out;
            }
            .video-wrapper:hover::before {
                background: #112240cb;
            }
            .project-info{
                width: 100%;
                max-width: 100%;
                height: auto;
                position:absolute;
                text-align: left;
                align-self: center;
                justify-self:baseline;
                left: 0;
                z-index: 2;
                padding: 10px 2rem 10px 2rem;
                    margin: 15px 0 15px 0; 
               p{
                    border-radius: 5px;
                    line-height: 1.5;
                   background-color: transparent;
                   right: 0;
                   padding: 10px 0rem 10px 0rem;
                   margin: 15px 0 15px 0; 
                   font-size: 14px;
               }
            }
           
          }
        }
    }
    .main-project-2{
            box-shadow: 2px 4px 5px rgba($color: #000000, $alpha: 0.345);
        .main-project-wrapper{
            color: $light-white-color;
            position: relative;
            overflow: hidden;
          .project-details{
            width: 100%;
            height: auto;
              display: flex;
             
            .video-wrapper{
                width: 100%;
                margin: 0 auto;
                height: 100%;
                position: relative;   
                right: 0;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                overflow: hidden;
                img{
                    width: auto;
                    margin: 0 auto;
                    height:60vh;
                    object-fit:contain;
                    object-position: center;
                    position: relative;   
                }
            }
            .video-wrapper::before{
                content: "";
                background: #112240;
                mix-blend-mode: multiply;
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                transition: .3s ease-in-out;
            }
            .video-wrapper:hover::before {
                background: transparent;
            }
            .project-info{
               width: 100%;
               max-width: 100%;
               height: auto;
               position:absolute;
               text-align: left;
               align-self: center;
               justify-self:baseline;
               left: 0;
               z-index: 2;
               padding: 10px 2rem 10px 2rem;
                   margin: 15px 0 15px 0; 
               p{
                    border-radius: 5px;
                    line-height: 1.5;
                   background-color: transparent;
                   font-size: 14px;
                   right: 0;
                   padding: 10px 0rem 10px 0rem;
                   margin: 15px 0 15px 0; 
               }
            }
           
          }
        }
    }
    
}
//repository
.repo-wrapper{
    color: $light-white-color;
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    .repo-header{
        text-align: center;
        h1{
            font-size: 1.5rem;
        }
    }
    .repo-content{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1rem;
        row-gap: 1rem;
        .repo-main-content{            
            .repo-main-content-wrapper{
                position: relative;
                background-color: #112240;
                padding: 2rem;
                border-radius: 5px;
                transition:all .5s ease-in-out;
                .content-head{
                    padding: 1rem 5px 1rem 5px;
                }
                .content-details{
                    color: $dark-white-color;
                    font-size: 14px;
                    line-height: 1.5
                }
                .content-stack{
                    padding: 1rem 5px 5px 5px;
                    font-family: monospace;
                }
            }
            
        }
        
    }
}
//contact-me
.contact-me{
    
    margin: 0 auto;
    height: 100vh;
    color: $green-text-color;
    text-align: center;
    display: grid;
    place-items: center;
    h3{
        font-family: monospace;
    }
    h1{
        font-size: 1.5rem;
        color: $light-white-color;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    p{
        max-width: 500px;
        line-height: 1.5;
        padding-bottom: 4rem;
        color: $dark-white-color;
    }
    a{
        text-decoration: none;
        color:$green-text-color;
        border: 1px solid $green-text-color;
        border-radius: 5px;
        font-size: 13px;
        padding: 15px 20px 15px 20px;
        transition: .5s ease-in-out;
    }
    a:hover{
        background-color: #67e4a849;
    }
}
}
