@media(max-width:425px){
  
    //Navbar Section 

    .nav-list-wrapper{
        width: 80%;
        position: fixed;
        right: 0%;
        height: 100vh;
        top: 0;
        transition: all .5s ease-in-out;
        
        .nav-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $background-color;
            height: 100vh;
            

            li{ 
                margin-top: 1rem;
            }
            a{
                font-size: 1rem;
            }
            .download-btn{
                margin-top: 2rem;
                padding: 15px 3rem 15px 3rem;
            }
         }   
    }
    
    //End of Navbar Section

    //banner Section 

    .banner-container{
        width: 90%;
        h1{
            font-size: 35px;
        }
       
        .sub-headings{
            font-size: 14px;
            margin-top: 2rem;
            margin-bottom: 3rem;
            color: $dark-white-color;
            line-height: 1.5;
        }
        .intro-header{
            font-family: monospace;
            font-size: 18px;
            color: $green-text-color;
            margin: 15px 0 15px 0;
        }
    }
    
    .dm{
        margin-top: 1rem;
        font-size: 13px;
        a{
            padding: 15px 1rem 15px 1rem;
            border-radius: 5px;
            margin-top: 2rem;}
    
    }
     
    // End of Banner Section

    .main-footer{
        display: none;
       
    }
}
