@media(max-width:854px){
    .container{
        max-width: 95%;
        margin: 2rem auto;
    }
    //Navbar Section
    
    .logo{
        transition: all .5s ease-in-out;
    }
    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        .toggle-wrapper{
            display: flex;
            z-index: 2;
            transform:rotate(360deg);
            padding: 10px;
            transition: all .5s ease-in-out;
            .open-menu-btn{
                position: relative;
                transition: all .5s ease-in-out;
            }
            .d-none{
                display: none;
            }
        }
    }
    
    .sides{
        display: none;
    }
    .nav-list-wrapper{
        width: 60%;
        position: fixed;
        right: -100%;
        height: 100vh;
        top: 0;
        transition: all .5s ease-in-out;
        
        .nav-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $background-color;
            height: 100vh;
            

            li{ 
                margin-top: 3rem;
            }
            a{
                font-size: 1.2rem;
            }
            .download-btn{
                margin-top: 3.5rem;
                padding: 15px 3rem 15px 3rem;
            }
         }   
    }
    
    //End of Navbar Section

     // Banner-Section
     .banner-container{
        width:90%;
        margin: 0rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 70vh;

        h1{
            font-size: 45px;
        }
        .second-heading{
            color: $dark-white-color;
        }
        .sub-headings{
            max-width: 600px;
            font-size: 19px;
            margin-top: 2rem;
            margin-bottom: 3rem;
            color: $dark-white-color;
            line-height: 1.5;
        }
        .intro-header{
            font-family: monospace;
            font-size: 18px;
            color: $green-text-color;
            margin: 15px 0 15px 0;
        }
    }
    // End of Banner
    

    //Footer Section

    .main-footer{
        display: flex;
       
    }

    //End of Footer Section
}