@import'variables';
@import'utilities';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg-complimentary-color;
    font-family: "Averta",sans-serif;
    position: relative;
}

.container{
    width: 95%;
    margin: auto;
}

//navbar 
.main-nav{
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    .nav-list{
        list-style: none;
        font-size: 14px;
        font-family: monospace;
            a{
                text-decoration: none;
                color:$green-text-color;
                border: 1px solid $green-text-color;
                border-radius: 5px;
                padding: 10px 20px 10px 20px;
                transition: .5s ease-in-out;
            }
            a:hover{
                background-color: #67e4a849;
            }
    }
}
//end of navbar

//banner

.banner{
    width: 70vw;
    height: 80vh;
    
    margin: 5rem auto;
    color: $light-white-color;
    box-sizing: border-box;
    
    .intro-header{
        font-family: monospace;
        font-size: 18px;
        color: $green-text-color;
        margin: 1rem 0 1rem 0;
    }

    .name-header{
        font-size: 35px;
        h1:nth-child(2){
            color: $dark-white-color;
        }
    }

    .brief-about{
        max-width: 600px;
        font-size: 14px;
        margin: 2rem 0 2rem 0;
        line-height: 1.5;
        color: $dark-white-color;
    }
    .dm{
       padding: 2rem 0 2rem 0;
        a{
            text-decoration: none;
            font-family: monospace;
            color:$green-text-color;
            border: 1px solid $green-text-color;
            border-radius: 5px;
            padding: 20px 15px 20px 15px;
            transition: .5s ease-in-out;
        }
        a:hover{
            background-color: #67e4a849;
        }
    }
    //end of banner
}

//About Me

.about-container{
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    color: $light-white-color;
    display: flex;
    flex-direction: column;
   
    position: relative;
    max-width:880px;

    a{
        text-decoration: none;
        color: $green-text-color;
    }
    .about-header{
        
        font-size: 20px;
    }
    .about-details-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width:100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        .about-text{
            max-width: 700px;
            .text-1{
                font-size: 17px;
                line-height: 1.5;
                padding-top: 1rem;
                color: $dark-white-color;
                .stack-icons-wrapper{
                    padding-top: 1rem;
                    display: flex;

                    .stack-icons{
                        padding: 2px 1rem 2px 1rem;
                    }
                }
           }
        }
        .about-img{
            max-width: 500px;
            width: 300px;
            height: 300px;
            display: flex;

            .img-wrapper{
                width: 100%;
                margin: 0 auto;
                height: auto;
                position: relative;   
                right: 0;
                margin: 1rem 2rem 0 2rem;
                transition: .5s ease-in-out;
                
                img{
                    width: 300px;
                    object-fit: cover;
                    filter: grayscale(100%) contrast(1);
                    border-radius: 10px;
                  
                }
            }
            .img-wrapper::before{
                content: "";
                background:#67e4a8;
                width: 300px;
                height: 300px;
                position: absolute;
                top: 0;
                z-index: 3;
                mix-blend-mode: multiply;
            }
            .img-wrapper::after{
                content: "";
                border:2px solid #67e4a8;
                border-radius: 10px;
                width: 300px;
                height: 300px;
                position: absolute;
                top: 20px;
                z-index: -1;
                left: 20px;
            }
            .img-wrapper:hover::before, .img-wrapper:hover img{
                filter: none;
                background: transparent;
                transition: .5s ease-in-out;
            }
        }
        
        
    }
   
}
//End of About me

//projects
.project-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 100%;
    margin: 10rem auto;
    a{
        color: $light-white-color;
        text-decoration: none;
    }
    a:hover{
        color: $green-text-color;
    }
    h4{
        font-size: 15px;
        font-weight: normal;
        font-family: monospace;
        padding: 10px 0 10px 0;
        color: $green-text-color;
    }
    p{
        font-size: 13px;
    }
    h5{
        font-size: 13px;
        font-weight: normal;
        font-family: monospace;
        color: $dark-white-color;
    }
    .project-header{
        color: $green-text-color;
        font-size: 20px;
    }
    .main-project{
        padding: 2rem 0 2rem 0;
        .main-project-wrapper{
           
            color: $light-white-color;
            position: relative;
         
            .project-details{
                width: 100%;
                height: auto;
                  display: flex;
                 
                .video-wrapper{
                    width: 100%;
                    margin: 0 auto;
                    height: auto;
                    position: relative;   
                    right: 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    overflow: hidden;
                    img{
                        width: 60%;
                        
                    }
                }
            .video-wrapper::before{
                content: "";
                background: #112240a2;
                mix-blend-mode: multiply;
                position: absolute;
                z-index: 1;
                width: 60%;
                height: 100%;
                transition: .3s ease-in-out;
            }
            .video-wrapper:hover::before {
                background: transparent;
            }
            .project-info{
                width: 100%;
                max-width: 450px;
                height: auto;
                position:absolute;
                text-align: right;
                align-self: center;
                justify-self:center;
                right: 0;
                z-index: 2;
               p{
                    border-radius: 5px;
                    line-height: 1.5;
                   background-color: #112240;
                   right: 0;
                   padding: 1.5rem;
                   margin: 15px 0 15px 0; 
                   color: $light-white-color;
               }
            }
           
          }
        }
    }
    .main-project-2{
        padding: 2rem 0 2rem 0;
        .main-project-wrapper{
            color: $light-white-color;
            position: relative;
            overflow: hidden;
          .project-details{
            width: 100%;
            height: auto;
              display: flex;
             
            .video-wrapper{
                width: 100%;
                margin: 0 auto;
                height: auto;
                position: relative;   
                right: 0;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                overflow: hidden;
                img{
                    width: 60%;
                    
                }
            }
            .video-wrapper::before{
                content: "";
                background: #112240a2;
                position: absolute;
                z-index: 1;
                width: 60%;
                height: 100%;
                transition: .3s ease-in-out;
            }
            .video-wrapper:hover::before {
                background: transparent;
            }
            .project-info{
               width: 100%;
               max-width: 450px;
               height: auto;
               position:absolute;
               text-align: left;
               align-self: center;
               justify-self:baseline;
               left: 0;
               z-index: 2;
               p{
                    border-radius: 5px;
                    line-height: 1.5;
                   background-color: #112240;
                   right: 0;
                   padding: 10px 2rem 10px 2rem;
                   margin: 15px 0 15px 0; 
               }
            }
           
          }
        }
    }
    
}
//End of Project

//repository
.repo-wrapper{
    color: $light-white-color;
    width: 70vw;
    height: 100%;
    margin: 4rem auto;
    h2{
        font-family: monospace;
        padding-top: 1rem;
        color: $green-text-color;
        font-size: 16px;
    }
    .repo-header{
        text-align: center;
        h1{
            font-size: 30px;
        }
    }
    .repo-content{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 1rem;
        grid-row: 1rem;
        
        .repo-main-content{            
            .repo-main-content-wrapper{
                display: grid;
                background-color: #112240;
                padding: 2rem;
                border-radius: 5px;
                transition:all .3s ease-in-out;
                box-shadow: 0 10px 30px -15px rgba(19, 19, 41, 0.473);
                height: 100%;
                .content-head{
                    padding: 1rem 5px 1rem 5px;
                    align-self: start;
                }
                .content-details{
                    color: $dark-white-color;
                    font-size: 14px;
                    line-height: 1.5;
                    align-self: start;
                }
                .content-stack{
                    padding: 1rem 5px 5px 5px;
                    font-family: monospace;
                    align-self: end;
                }
            }
            .repo-main-content-wrapper:hover{
               margin-top: -7px;
                
            }
        }
    }
}

.contact-me{
    
    margin: 0 auto;
    height: 100vh;
    color: $green-text-color;
    text-align: center;
    display: grid;
    place-items: center;
    h3{
        font-family: monospace;
    }
    h1{
        font-size: 3rem;
        color: $light-white-color;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    p{
        max-width: 500px;
        line-height: 1.5;
        padding-bottom: 4rem;
        color: $dark-white-color;
    }
    a{
        text-decoration: none;
        color:$green-text-color;
        border: 1px solid $green-text-color;
        border-radius: 5px;
        font-size: 13px;
        padding: 15px 20px 15px 20px;
        transition: .5s ease-in-out;
    }
    a:hover{
        background-color: #67e4a849;
    }
}

footer{
    text-align: center;
    color: $light-white-color;
    margin: 3em;
    font-family: monospace;
}
@import 'desktop';
@import 'tablet';
@import 'mobile';